body{
    margin: 0px;
    padding: 0px;
}

header > nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 130px;
}

.menu{
    display: flex;
}

.menu > h2{
    font-size: 35px;
}

nav > .menu > ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu > ul > li{
    font-size: 18px;
    color: hsl(257, 7%, 63%);
    font-weight: 600;
    margin-right: 20px;
}

.menu > ul > li:hover{
    cursor: pointer;
}

nav > .login{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav > .login > button{
    border: none;
    background-color: #FFF;
    font-size: 16px;
    color: hsl(257, 7%, 63%);
    font-weight: 600;
}

nav > .login > button > span{
    font-size: 14px;
    background-color: hsl(180, 66%, 49%);
    color: #FFF;
    padding: 10px 20px;
    border-radius: 20px;
}

nav > .login > button:hover{
    cursor: pointer;
}

.container{
    margin-left: 130px;
    position: relative;
}

.container > .bodyText{
    margin-top: 50px;
    width: 620px;
}

.card{
    display: flex;
    margin-bottom: 140px;
}

.bodyText > .title > h1{
    font-size: 80px;
    margin-bottom: 0px;
    line-height: 80px;
}

.bodyText > .description{
    margin-top: 10px;
    width: 500px;
}

.bodyText > .description > h2{
    margin-top: 0px;
}

.bodyText > .btn > button{
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: hsl(180, 66%, 49%);
    color: #FFF;
    padding: 10px 20px;
    border-radius: 20px;
}

.bodyText > .btn > button:hover{
    cursor: pointer;
}

.container > .inputUrl{
    background-color: hsl(257, 27%, 26%);
    background-image: url('../../images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px;
    width: 90%;
    border-radius: 10px;
    position: absolute;
    bottom: -200px;
    right: calc(50% - 600px);
}

.inputUrl > .formInput{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.inputUrl > .formInput > input{
    height: 44px;
    width: 80%;
    border-radius: 10px;
}

.inputUrl > .formInput > button{
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: hsl(180, 66%, 49%);
    color: #FFF;
    padding: 15px 20px;
    border-radius: 15px;
}

.inputUrl > .formInput > button:hover{
    cursor: pointer;
}

#statics{
    display: flex;
    justify-content: center;
    background-color: #eff1f7;
    min-height: 600px;
    padding: 60px 130px;
}

.boxUrl{
    margin-top: 20px;
}

.boxUrl > .shortUrl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(257, 7%, 63%);
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    gap: 300px;
}

#statics > .container > .text{
    margin: 0px auto;
    text-align: center;
}